body {
    font-size: 16px;
    text-align: center;
  }
  h1 {
    font-family: sans-serif;
    color: orange;
    font-size:65px
  }
  p {
    font-style: oblique;
    font-weight: 600;
    font-size: 3em;
    text-decoration-line: underline;
  }
  #cores{
    font-style: italic;
    line-height: 30px;
    background-color: aqua;
  }
  .pul{
    background-color: pink;
  }
  #amarelo {
    background-color: yellow;
  }
  #vermelho {
    background-color: red;
  }
  #marrom {
    background-color: brown;
  }
  